# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [43]:
# import numpy and pandas
import numpy as np
import pandas as pd
import random

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the csv as a pandas dataframe named `salaries` from the data folder of this repository (`Current_Employee_Names__Salaries__and_Position_Titles.csv`).

In [44]:
# Your code here:
salaries = pd.read_csv("../data/Current_Employee_Names__Salaries__and_Position_Titles.csv")

Examine the `salaries` dataset using the `head` function below.

In [45]:
# Your code here:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [46]:
# Your code here:
#salaries[salaries.isnull()]
salaries.isnull()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,False,False,False,False,False,True,False,True
1,False,False,False,False,False,True,False,True
2,False,False,False,False,False,True,False,True
3,False,False,False,False,False,True,False,True
4,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...
33178,False,False,False,False,False,True,False,True
33179,False,False,False,False,False,True,False,True
33180,False,False,False,False,False,True,False,True
33181,False,False,False,False,False,True,False,True
33182,False,False,False,False,False,True,False,True

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [47]:
# Your code here:
print(salaries["Salary or Hourly"].value_counts())

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [48]:
# Your code here:

salaries["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [49]:
# Your code here:

hourly_salaries = np.array(salaries[salaries["Salary or Hourly"] == "Hourly"]["Hourly Rate"]).copy()
hs_mean = hourly_salaries.mean()
hs_std = hourly_salaries.std()

In [50]:
import scipy.stats as stats

In [51]:
# with the whole array of hourly salaries the sample mean hourly rate of 32 is indeed "significantly" different than 
# the population average of 30 due to a huge size of the sample (n = 8022)
stats.ttest_1samp(a=hourly_salaries, popmean=30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

In [52]:
#However the sample mean hourly rate is still well within the 95% confidence interval 
stats.norm.interval(.95, loc=hs_mean, scale=hs_std)

(9.049831234821628, 56.52728419773885)

In [53]:
# a smaller random subsample indicates that mean is not significantly different from the population mean
np.random.seed(350)
hs_50_samp = np.random.choice(hourly_salaries, 50)
stats.ttest_1samp(a=hs_50_samp, popmean=30)

Ttest_1sampResult(statistic=0.9805881557268138, pvalue=0.33161282752979593)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [54]:
# Your code here:
annual_salaries = np.array(salaries[salaries["Salary or Hourly"] == "Salary"]["Annual Salary"])
as_mean = annual_salaries.mean()
as_std = annual_salaries.std()

In [55]:
(stat, pval) = stats.ttest_1samp(a=annual_salaries, popmean=86000)

In [56]:
pval/2

1.507879259958193e-09

In [57]:
stats.norm.interval(.95, loc=as_mean, scale=as_std)

(45547.522121349255, 128026.4774589536)

In [61]:
np.random.seed(350)
as_50_samp = np.random.choice(annual_salaries, 50)
stats.ttest_1samp(a=as_50_samp, popmean=86000)

Ttest_1sampResult(statistic=-0.4979614838551867, pvalue=0.62073882377033)

In [60]:
pval

0.62073882377033

Using the `crosstab` function, find the department that has the most hourly workers.

In [17]:
# Your code here:
# finding the department
ct = pd.crosstab(salaries["Department"], salaries["Salary or Hourly"])
ct["Hourly"].sort_values(ascending=False)[:1]

Department
STREETS & SAN    1862
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [18]:
# Your code here:
# extracting the salaries for STREETS & SAN  and droppin any NA values
st_san_salaries = salaries[salaries["Department"] == "STREETS & SAN"]["Hourly Rate"].copy()
st_san_salaries.dropna(inplace=True)

In [19]:
# converting to np arrays and calculating the mean and the standard deviation and the t-test
st_san_sal_np = np.array(st_san_salaries)
st_san_mean = st_san_sal_np.mean()
st_san_std = st_san_sal_np.std()
stats.ttest_1samp(a=st_san_sal_np, popmean=35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [20]:
st_san_mean

33.72837808807734

In [21]:
stats.norm.interval(.95, loc=st_san_mean, scale=st_san_std)

(22.49052953444563, 44.966226641709056)

In [22]:
np.random.seed(350)
ss_50_samp = np.random.choice(st_san_sal_np, 50)
stats.ttest_1samp(a=ss_50_samp, popmean=35)

Ttest_1sampResult(statistic=-2.4627327123825253, pvalue=0.017350450036372297)

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [23]:
# Your code here:

stats.t.interval(0.95, df= len(hourly_salaries)-1, loc=hs_mean, scale=hs_std)

(9.046248541993936, 56.53086689056654)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [24]:
# Your code here:

stats.t.interval(.95, df=len(annual_salaries)-1, loc=as_mean, scale=as_std)

(45545.5381321311, 128028.46144817176)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [29]:
# Your code here:
hourly_workers = salaries["Salary or Hourly"].value_counts()[1]
total_workers = len(salaries)

In [38]:
from statsmodels.stats.proportion import proportions_ztest

In [41]:
proportions_ztest(hourly_workers, total_workers, .25)

(-3.5099964213703005, 0.0004481127249057967)

In [42]:
# Yes the p-val is much lower than the alpha of 0.05(95% confidence level) and we can reject the null hypothesis
# The number of hourly workers is significantly different from 25%